@model LoanApplicationContracts.Business

@{
    ViewData["Title"] = "CreateBusiness";
}

<h2> Loan Application (2 / 3)</h2>

<h4>Business Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            @*<div class="form-group">
            <label asp-for="BusinessId" class="control-label"></label>
            <input asp-for="BusinessId" class="form-control" />
            <span asp-validation-for="BusinessId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                @*<span asp-validation-for="Title" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                @*<span asp-validation-for="Phone" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                @*<span asp-validation-for="Email" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="WebsiteUrl" class="control-label"></label>
                <input asp-for="WebsiteUrl" class="form-control" />
                @*<span asp-validation-for="WebsiteUrl" class="text-danger"></span>*@
            </div>
          
            <input type="hidden" name="prev" id="prev" value="1" />
            <div class="form-group">
                <input type="submit" value="Previous" asp-controller="Applicants" asp-action="CreateApplicant" />
                <input type="submit" value="Next" asp-controller="Applicants" asp-action="CreateBusiness" />

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetApplicantsList">Back to Applicants List</a>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
